.slider__control {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .slider_main & {
    justify-content: flex-start;
    margin-top: 16px;
    width: 100%;

    @include media-breakpoint-up(lg){
      margin-top: 0;
    }
  }

  @include media-breakpoint-up(sm){
    width: 70%;
  }

  @include media-breakpoint-up(xl){
    width: 206px;
  }
}