.news__descr {

  .news__top-news &{
    line-height: 24px;
    margin-top: 34px;
  }

  .news__item_little &{
    color: $white;
    display: inline;
    border-bottom: 1px solid rgba($white, .15);
    line-height: 19px;
    transition: all .2s ease-out;
  }

  .news__item_little .news__descr-wrapper:hover &{
    border-bottom-color: transparent;
    color: rgba($white, .75);
  }
}