.btn-group {
  background-color: $navigation_bg_content;
  border-radius: 17px;
  flex-wrap: wrap;
  justify-content: center;
  width: 270px;

  @include media-breakpoint-up(sm){
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 18px;
    width: auto;
  }

  @include media-breakpoint-up(xl){
    margin-bottom: 0;
  }
}