.achievements__box_show_banners {
  align-items: center;
  display: none;
  height: 242px;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 28px;
  padding-top: 4px;
  width: 535px;

  @include media-breakpoint-up(md) {
    display: flex;
  }

  @include media-breakpoint-up(lg) {
    min-width: 535px;
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: 0;
  }
}