.btn_calendar {
  background-color: $navigation_bg_content;
  margin-left: 0;
  margin-top: 18px;
  padding: 6px 34px 5px 13px;
  position: relative;

  &:hover{
    background-color: darken($navigation_bg_content, 10%);
  }

  .main &{
    font-size: 14px;
  }

  .main__calendar-wrapper &{
    margin-left: 14px;
    margin-right: 14px;
    min-width: 116px;

    &:focus{
      border-color: $input-border;
    }

    @include media-breakpoint-only(sm){
      margin-left: 92px;
    }

    @include media-breakpoint-only(md){
      margin-left: 80px;
    }

    @include media-breakpoint-only(lg){
      margin-left: 0;
    }

    @include media-breakpoint-up(xl){
      margin-right: 0;
    }
  }

  @include media-breakpoint-up(sm){
    margin-left: 16px;
    margin-top: 0;

    & + &{
      margin-left: 11px;
    }
  }
}