.main-slider__images-wrapper {
  display: none;
  height: 364px;
  position: relative;
  width: 48.8%;

  @include media-breakpoint-up(lg) {
    display: block;
  }

  @include media-breakpoint-only(lg) {
    width: 50%;
  }
  .link{
    position: absolute;
    opacity: 0;
    transition: $transition-base;
    @include media-breakpoint-only(lg) {
      top: 50%;
      transform: translateY(-50%);
    }
    &_slide-view{
      opacity: 1;
    }
    .img{
      border-radius: 5px;
      left: 0;
      top: 0;
      margin: 0;
      max-width: 100%;
    }
  }
}