.hotline__phone {
  display: block;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  white-space: nowrap;

  @include media-breakpoint-up(md) {
    font-size: 32px;
  }

  @include media-breakpoint-only(lg) {
    font-size: 28px;
  }
}