.news__item-box {
  width: 33%;

  .news__top-news &{
    width: 100%;
  }

  &:last-child{
    display: none;
  }

  @include media-breakpoint-up(sm) {
    width: 25%;

    &:last-child{
      display: block;
    }
  }

  @include media-breakpoint-up(md) {
    width: 16.6666%;

    .news__content > &:nth-child(-n+5){
      display: none;
    }

    .news__top-news &{
      width: 50%;
    }
  }

  @include media-breakpoint-up(lg) {
    width: 12.5%;
  }

  @include media-breakpoint-up(xl) {
    margin-right: 29px;
    width: 65px;

    &:nth-of-type(12n+4) + &{
      margin-right: 0;
    }

    .news__top-news &{
      width: 25%;

      &:nth-child(4){
        margin-right: 0;
      }
    }
  }
}