.news__item {
  color: $white;
  display: block;
  font-size: 18px;
  height: 65px;
  position: relative;
  width: 65px;

  .news__top-news & {
    border: 0 none;
    border-radius: 0;
    height: auto;
    margin: 0 auto 44px;
    transition: color .3s ease-out;
    width: 263px;

    &:hover{
      color: $secondary;
    }
  }
}