.news__triangle-shadow {
  position: absolute;
  right: 0;
  top: 16px;
  z-index: 1;

  &::before{
    color: rgba(#b4c0c7, .2);
    font-size: 225px;
    transition: all .3s ease-out;
  }

  .news__item:hover &::before{
    color: $secondary;
  }
}