.news__header {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include media-breakpoint-up(xl) {
    justify-content: space-between;
  }
}