.sidebar-menu__header-wrapper {
  align-items: center;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-up(lg) {
    border: 0 none;
  }
}