.filter__control_selected {
  border-bottom-color: $secondary;
  color: $secondary;

  &::after{
    content: '\e90b';
    color: rgba($white, .5);
    border: 1px solid rgba($white, .5);
    border-radius: 10px;
    display: inline-block;
    font-family: 'icomoon';
    font-size: 6px;
    line-height: 1;
    margin-left: 8px;
    padding: 5px 6px 6px 5px;
    position: absolute;
    top: 0;
  }
}