.main__text {
  margin-top: 8px;

  & h1{
    display: inline-block;
    font-size: 34px;
    margin-bottom: 24px;
    position: relative;
    width: 100%;

    @include media-breakpoint-up(md){
      font-size: 36px;
    }
  }

  & h2{
    margin-bottom: 20px;
    margin-top: 37px;
  }

  & h3{
    margin-bottom: 19px;
    margin-top: 40px;
  }

  & h4{
    margin-top: 43px;
    margin-bottom: 18px;
  }

  & h5{
    margin-top: 28px;
    margin-bottom: 18px;
  }

  & h6{
    margin-top: 16px;
    margin-bottom: 16px;
  }

  & p{
    margin-top: 0px;

    & + p{
      margin-top: 16px;
    }
  }

  & h1 + p{
    margin-top: 0;
  }
}