.achievements {
  box-shadow: 0 5px 10px alpha-primary(.1);
  margin: 41px 0 0 0;
  padding: 0 20px 9px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include media-breakpoint-up(xl) {
    flex-wrap: nowrap;
    justify-content: inherit;
  }
}