.links__link_header-list {
  border-bottom: 1px solid $primary;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 2px;
  
  &:hover{
    text-decoration: none;
  }
}