.sidebar {
  box-sizing: border-box;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-right: 0;
  position: relative;
  width: 100%;

  @include media-breakpoint-up(sm){
    align-items: flex-start;
    justify-content: space-between;
  }

  @include media-breakpoint-up(lg){
    justify-content: flex-start;
    margin-right: 29px;
    width: 263px;
  }
}