.tags__subscribe {
  background-color: $navigation_bg_index;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 24px 0 21px;
  position: relative;

  @include media-breakpoint-up(md){
    flex-wrap: nowrap;
  }
}