.btn {
  transition: all .3s ease-out;

  &:hover{
    cursor: pointer;
  }

  .navigation__header &,
  .sidebar-menu__header-wrapper &{
    height: 40px;
    width: 60px;
  }

  .header__menu &{
    border-radius: 0;
    padding: 0;
    width: 49px;

    @include media-breakpoint-up(lg){
      width: 56px;
    }
  }

  .sidebar-menu__header-wrapper &{
    @include media-breakpoint-up(lg){
      display: none;
    }
  }

  .modal__header &{
    padding: 0;
  }

  .btn-group &{
    background-color: inherit;
    border-radius: inherit!important;
    margin: 0;
    width: 33%;

    &:hover{
      background-color: $secondary;
      border-radius: 17px!important;
      transition-duration: 0s;
    }

    &:last-child{
      margin-right: 0;
    }

    @include media-breakpoint-up(sm){
      margin: 0 2px 0 1px;
    }

  }

  .btn-group & + &{
    &::before{
      content: '';
      background-color: alpha-primary(.1);
      bottom: 0;
      display: none;
      left: -2px;
      position: absolute;
      top: 0;
      width: 1px;

      @include media-breakpoint-up(sm){
        display: block;
      }
    }
  }

  .main__header-wrapper &{
    background-color: $navigation_bg_content;
    border-radius: 17px;
  }

  .main .btn-group &{
    font-size: 14px;
    padding: 5px 16px 6px 14px;
    width: auto;
  }

  .tags__subscribe &{
    border-radius: 17px;
    font-size: 14px;
    margin-left: 11px;
    padding: 5px 32px;

    @include media-breakpoint-only(sm){
      padding: 5px 38px;
    }
  }
}