$primary                    : #002d46;
$secondary                  : #edc146;
$black                      : #252525;
$gray                       : #e1e1e1;
$red                        : #f24841;

$input-border               : #586b78;

$navigation_bg_index        : #fdf9ec;
$navigation_bg_content      : #e5eaec;

$calendar-days              : #6a7e8a;
$calendar-divider           : #e7e7e7;

$share_bg                   : #f1f1f1;

$bg_vk                      : #4c75a3;
$bg_f                       : #3B5998;
$bg_tw                      : #55ACEE;


$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1170px
);

$font-family-sans-serif     : "Philosopher", Trebuchet MS, sans-serif;
$font-family-main           : Trebuchet MS, sans-serif;
$font-family-regular        : 'PhilosopherReg', Trebuchet MS, sans-serif;

$font-size                  : 16px;
$line-height                : 1.5;

$h1-font-size               : 48px;
$h2-font-size               : 32px;
$h3-font-size               : 28px;
$h4-font-size               : 24px;
$h5-font-size               : 20px;
$h6-font-size               : 16px;

$headings-line-height       : 1;

$headings-font-family       : $font-family-sans-serif;
$headings-font-weight       : 700;
$headings-line-height       : 30px;
$headings-margin-bottom     : 0;

$paragraph-margin-bottom    : 0;

$link-hover-color           : rgba($primary, .6);
$link-hover-decoration      : none;
$link-decoration            : none;

$list-style                 : none;
$list-margin-bottom         : 0;
$list-padding               : 0;

$input-btn-focus-box-shadow : none;

$modal-backdrop-bg          : $primary;
$modal-backdrop-opacity     : .9;

$pagination-margin          : 24px;