.footer__header {
  line-height: .8;
  margin-bottom: 12px;
  text-align: center;

  .footer__box-socials &{
    margin-bottom: 14px;
  }

  @include media-breakpoint-up(md) {
    text-align: left;
  }
}