.form-control {
  border: 1px solid rgba($input-border, .5);
  border-radius: 20px;
  margin-top: 4px;
  padding: 8px;
  transition: all .3s ease-out;

  &:hover{
    border-color: $input-border;
  }

  &:focus{
    border-color: $input-border;
    box-shadow: 0 0 8px rgba($primary, .75)
  }

  @include media-breakpoint-up(sm){
    padding: 7px 6px;
  }

  @include media-breakpoint-up(md){
    margin-top: 0;
  }
}