.footer{
  box-shadow: 3px 0 20px alpha-primary(.16);
  font-family: $font-family-main;
  position: relative;

  &::before{
    content: '';
    background-color: $primary;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    z-index: 1;

    @include media-breakpoint-up(xl) {
      display: block;
    }
  }
}