.calendar {
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 0 10px alpha-primary(.2);
  cursor: default;
  display: none;
  left: 58px;
  padding: 20px 25px 27px;
  position: absolute;
  top: 48px;
  transform: translateX(-50%);
  width: 260px;
  z-index: 100;
}