.modal__title {
  font-size: 32px;
  font-weight: normal;
  font-family: $font-family-regular;
  line-height: 1;
  padding-left: 1px;

  .modal_media &{
    margin-top: 23px;
  }

  @include media-breakpoint-up(lg){
    font-size: 48px;
  }
}