@import 'style';

.icon{
  cursor: default;
  position: relative;
  transition: color .2s ease-out;

  &.socials__link:hover::before{
    color: $primary;
  }

  .share &{
    border: 1px solid transparent;
    transition: all .2s ease-out;

    &.icon-vk{
      background-color: $bg_vk;

      &:hover{
        background-color: $white;
        border-color: $bg_vk;

        &::before{
          color: $bg_vk;
        }
      }
    }

    &.icon-f{
      background-color: $bg_f;

      &:hover{
        background-color: $white;
        border-color: $bg_f;

        &::before{
          color: $bg_f;
        }
      }
    }

    &.icon-tw{
      background-color: $bg_tw;

      &:hover{
        background-color: $white;
        border-color: $bg_tw;

        &::before{
          color: $bg_tw;
        }
      }
    }
  }

  .events__box &::before{
    color: $primary;
  }

  .events__box:hover &::before{
    color: $secondary;
  }

  &.icon-eye{
    font-size: 38px;
  }

  &.icon-search{
    cursor: pointer;
    font-size: 34px;

    &::before{
      position: relative;
      z-index: 100;
    }

    .search_show &{
      right: -125px;

      @include media-breakpoint-only(sm){
        right: -250px;
      }

      @include media-breakpoint-up(md){
        right: 0;
      }
    }
  }

  &.icon-menu{
    cursor: pointer;
    font-size: 26px;

    &:hover{
      color: $secondary;
    }
  }

  &.icon-close{

    .header__menu &{
      cursor: pointer;
      font-size: 26px;
      margin-left: 11px;

      &:hover{
        color: $secondary;
      }
    }

    .tags__item &{
      align-items: center;
      border: 1px solid;
      border-radius: 14px;
      box-sizing: border-box;
      color: alpha-primary(.5);
      cursor: pointer;
      display: none;
      flex: 0 0 auto;
      font-size: 6px;
      height: 16px;
      justify-content: center;
      top: 2px;
      width: 16px;

      &::before{
        color: alpha-primary(.5);
      }
    }

    .tags__item_selected & {
      display: flex;
    }
  }

  &.icon-arr_right{

    .slider-banners &{
      position: static;
      transform: translate(19px, 21px);
    }

    .photogallery__wrapper &{
      cursor: pointer;

      &:hover{
        color: $secondary;
      }
    }

    .photogallery__wrapper_view &{
      display: none;
      font-size: 81px;
      top: -46px;

      @include media-breakpoint-up(lg){
        display: block;
      }
    }

    .photogallery__wrapper_grid &{
      font-size: 44px;
      right: 0;
      top: 1px;

      @include media-breakpoint-up(md){
        right: -3px;
      }
    }
  }

  &.icon-arr_left{

    .slider-socials &{
      margin-right: 19px;
    }

    .slider_gallery &{
      z-index: 200;
    }

    .photogallery__wrapper &{
      cursor: pointer;

      &:hover{
        color: $secondary;
      }
    }

    .photogallery__wrapper_view &{
      display: none;
      font-size: 81px;
      top: -46px;

      @include media-breakpoint-up(lg){
        display: block;
      }
    }

    .photogallery__wrapper_grid &{
      font-size: 44px;
      left: -1px;
      margin-right: 0;
      top: 1px;
    }
  }

  &.icon-arr{
    cursor: pointer;

    .btn_more &{
      background-color: $white;
      border-radius: 50%;
      color: $secondary;
      font-size: 7px;
      padding: 5px 3px;
      position: absolute;
      right: 13px;
      top: 50%;
      transform: translateY(-50%);
    }

    .btn_sort &,
    .btn_calendar &{
      font-size: 5px;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.icon-arr_top{
    cursor: pointer;

    .btn_sort &,
    .btn_calendar &{
      font-size: 5px;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.icon-big_triangle{

    .main__news-date &::before{
      color: $secondary;
      font-size: 64px;
      left: 2px;
      position: relative;
      top: 0;
      z-index: -1;
    }
  }

  &.icon-triangle_right{

    .card__img &::before{
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-40%, -50%);
    }
  }

  &.icon-close-win{
    color: $white;
    cursor: pointer;

    &::before{
      transition: all .3s ease-out;
    }

    &:hover::before{
      color: $secondary;
    }
  }

  &.icon-share{
    color: $primary;
    font-size: 38px;
  }

  &.icon-mail{

    &::before{
      color: unset;
    }

    &.secondary::before{
      color: $secondary;
    }

    &.half-primary::before{
      color: alpha-primary(.5);
    }

    .tags__subscribe &{
      position: absolute;
      display: none;

      &:first-child{
        font-size: 33px;
        left: .3%;
        top: 8%;
      }

      &:nth-child(2){
        bottom: -18%;
        font-size: 33px;
        left: -2%;
      }

      &:nth-child(3){
        bottom: 10%;
        font-size: 50px;
        left: 5.7%;
      }

      &:nth-last-child(2){
        bottom: -6%;
        right: 13.9%;
        font-size: 35px;
      }

      &:last-child{
        bottom: 19%;
        font-size: 50px;
        right: 2.6%;
      }

      @include media-breakpoint-up(md){

        &.half-primary {
          display: block;
        }
      }

      @include media-breakpoint-only(lg){

        &:last-child{
          display: none;
        }
      }

      @include media-breakpoint-up(xl){

        &.secondary {
          display: block;
        }
      }
    }
  }

  &.icon-forma{

    .news__descr-wrapper &{
      color: $secondary;
      display: block;
      float: left;
      font-size: 54px;
      line-height: 1;
      margin: 0 17px 0 0;
    }
  }
}