@import "variables";

@font-face {
  font-family: 'icomoon';
  src:
    url('#{$icomoon-font-path}/icomoon.ttf?lwo7sz') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?lwo7sz') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?lwo7sz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail {
  &:before {
    content: $icon-mail;     
    color: #fff;
  }
}
.icon-share {
  &:before {
    content: $icon-share;     
    color: #586b78;
  }
}
.icon-arr {
  &:before {
    content: $icon-arr; 
  }
}
.icon-arr_top {
  &:before {
    content: $icon-arr_top; 
  }
}
.icon-triangle_right {
  &:before {
    content: $icon-triangle_right;     
    color: #fff;
  }
}
.icon-big_triangle {
  &:before {
    content: $icon-big_triangle;     
    color: #b4c0c7;
  }
}
.icon-close {
  &:before {
    content: $icon-close;     
    color: #fff;
  }
}
.icon-forma {
  &:before {
    content: $icon-forma;     
    color: #edc146;
  }
}
.icon-triangle {
  &:before {
    content: $icon-triangle;     
    color: #edc146;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-arr_left {
  &:before {
    content: $icon-arr_left; 
  }
}
.icon-arr_right {
  &:before {
    content: $icon-arr_right; 
  }
}
.icon-f {
  &:before {
    content: $icon-f;     
    color: #fff;
  }
}
.icon-inst {
  &:before {
    content: $icon-inst;     
    color: #fff;
  }
}
.icon-tw {
  &:before {
    content: $icon-tw;     
    color: #fff;
  }
}
.icon-vk {
  &:before {
    content: $icon-vk;     
    color: #fff;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;     
    color: #fff;
  }
}
.icon-close-win {
  &:before {
    content: $icon-close-win;     
    color: #fff;
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}

