.btn_send {
  border-radius: 28px;
  display: block;
  line-height: 1;
  margin: 0 auto;
  padding: 11px 26px 13px 26px;

  @include media-breakpoint-up(md){
    display: inline-block;
    margin: 0;
  }
}