.achievements__item {
  margin-bottom: 36px;
  line-height: 30px;

  .achievements__box_show_list &{
      position: relative;
      width: 100%;

      &::before{
        content: '•';
        color: $secondary;
        float: left;
        font-size: 30px;
        font-weight: bold;
        height: 100%;
        line-height: .8;
        margin-right: 8px;
        text-align: center;
        width: 30px;
      }
  }

  @include media-breakpoint-up(sm){

    .achievements__box_show_list &{

      &::before{
        width: 39px;
      }
    }
  }

  @include media-breakpoint-up(md) {

    .achievements__box_show_list &{
      width: 46%;

      &::before{
        line-height: 1;
      }
    }
  }

  @include media-breakpoint-only(lg){

    .achievements__box_show_list &{
      width: 33%;
    }
  }
}