.news__top-news {
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;

  @include media-breakpoint-up(md) {
    display: flex;
  }

  @include media-breakpoint-up(lg) {
    justify-content: flex-start;
  }

  @include media-breakpoint-up(xl) {
    flex-wrap: nowrap;
  }
}