.links__list {
  display: block;
  margin-bottom: 13px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;

  &:first-child{
    margin-top: -8px;
  }

  &:last-child{
    margin-bottom: 0;
  }

  @include media-breakpoint-up(sm){
    margin-bottom: 26px;
  }
}