.slider__arrow {
  border: 1px solid $primary;
  border-radius: 22px;
  font-size: 22px;
  height: 44px;
  line-height: 43px!important;
  position: relative;
  text-align: center;
  width: 44px;

  &:hover{
    background-color: $secondary;
    border-color: $secondary;
    cursor: pointer;
  }
}