.calendar__header {
  border-bottom: 1px solid rgba($calendar-divider, .8);
  display: flex;
  font-family: $font-family-sans-serif;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 7px;
  text-transform: uppercase;
  width: 192px;
}