.header__controls {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-breakpoint-only(md){
    flex-wrap: wrap;
  }

  @include media-breakpoint-up(md){
    background-color: $white;
    flex-direction: row;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 46px;

    .header_border & {
      padding-top: 31px;
    }
  }
}