.link {
  .sidebar-menu__item & {
    border-radius: 10px;
    background-color: $navigation_bg_content;
    display: block;
    padding: 8px 24px;
    transition: all .2s ease-out;

    &:hover{
      background-color: $primary;
      color: $secondary;
    }
  }

  .pagination__item &{
    color: inherit;
    display: block;
    padding: 2px 9px;
  }

  .pagination__item_end &{
    padding: 0;
  }

  .tags__item &{
    color: inherit;
    display: inline;
    line-height: 18px;
    margin-right: 2px;

    &:hover{
      color: $secondary;
    }
  }

  .share &{
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px;

    &::before{
      font-size: 18px;
    }
  }

  .share & + &{
    margin-left: 8px;
  }
}