.socials__link {
  background-color: $primary;
  border: 1px solid $primary;
  border-radius: 17px;
  color: $white;
  display: block;
  height: 33px;
  line-height: 33px;
  text-align: center;
  transition: all .3s ease-out;
  width: 33px;

  &:hover{
    background-color: $white;
    color: $primary;
    cursor: pointer;
  }
}