.sub-navigation {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: $font-family-sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 11px;
  margin-top: 38px;
  text-align: center;

  @include media-breakpoint-up(sm){
    font-size: 22px;
    text-align: left;
  }

  @include media-breakpoint-up(lg){
    flex-direction: row;
    padding: 0 20px 0 28px;
    justify-content: space-between;
  }
}