.events__link {
  color: alpha-primary(.6);
  font-family: $font-family-main;
  display: inline-block;
  text-decoration: underline;

  .events__box:hover &{
    color: $primary;
    text-decoration: underline;
  }
}