.photogallery__counter {
  align-items: center;
  background-color: $white;
  border-radius: 15px;
  bottom: 17px;
  color: $secondary;
  display: flex;
  font-size: 26px;
  justify-content: center;
  line-height: 1;
  min-width: 68px;
  padding: 2px 11px 2px 11px;
  position: absolute;
  right: 17px;
}