.main__news-wrapper {
  margin-bottom: 58px;
  margin-top: 7px;
  position: relative;

  &::before{
    content: '';
    border-right: 4px dotted $navigation_bg_content;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    top: 22px;
    width: 36px;
  }

  @include media-breakpoint-only(sm){
    margin-left: auto;
    margin-right: auto;
    width: 410px;
  }
}