.form-group {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  margin: 14px 0 0 0;

  &:first-child{
    margin: 0;
  }

  &:last-child{
    align-items: flex-start;
  }

  @include media-breakpoint-up(sm){
    align-items: center;
    flex-direction: row;
  }
}