.slider__text-wrapper {
  padding-left: 2px;

  @include media-breakpoint-up(md) {
    /*padding-right: 100px;*/
  }

  @include media-breakpoint-up(lg) {
    /*padding-right: 260px;*/
  }

  @include media-breakpoint-up(xl) {
    /*padding-right: 290px;*/
  }
}