.card__img {
  border-radius: 9px;
  height: 180px;
  overflow: hidden;
  position: relative;

  .card[data-type] &::before{
    content: '';
    background-color: alpha-primary(.5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 50;
  }

  .card_hor &{
    height: auto;
    margin: 0 auto;
    max-width: 263px;

    @include media-breakpoint-up(sm){
      flex: 1 0 auto;
      margin: 0;
      width: 263px;
    }

    @include media-breakpoint-up(md){
      height: 180px;
    }

    @include media-breakpoint-only(lg){
      height: 160px;
      width: 213px;
    }
  }
}