.calendar__triangle {
  height: 24px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: -24px;
  transform: translateX(-50%);
  width: 24px;

  &:after {
    content: "";
    background: $white;
    bottom: -6px;
    box-shadow: 0 0 10px alpha-primary(.2);
    height: 12px;
    left: 5px;
    position: absolute;
    transform: rotate(45deg);
    width: 12px;
  }
}