.block-header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-family: $font-family-sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 1;
  padding-left: 3px;

  .events-wrapper &{
    padding-left: 0;
  }

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    font-size: 30px;
  }

  @include media-breakpoint-up(md) {
    display: inline-block;
    font-size: 36px;
    line-height: 30px;
  }
}