.header__control-box {
  align-self: center;
  height: 30px;
  margin: 28px auto;

  @include media-breakpoint-up(sm) {
    width: 308px;
  }

  @include media-breakpoint-up(md) {
    margin: 0 auto;
  }

  @include media-breakpoint-only(md) {
    padding-top: 27px;
    position: relative;
    z-index: 200;

    .header_border & {
      padding-top: 31px;
    }
  }
}