.share {
  background-color: $share_bg;
  border-radius: 6px;
  box-shadow: 0 8px 8px rgba($primary, .75);
  left: 50%;
  padding: 8px;
  position: absolute;
  top: 68px;
  transform: translateX(-50%);right: auto;
  transition: all .3s ease-out;

  &::before{
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid $share_bg;
    height: 0;
    left: 50%;
    position: absolute;
    top: -10px;
    transform: translateX(-50%);
    width: 0;

    @include media-breakpoint-up(md) {
      left: auto;
      right: 40px;
      transform: none;
    }
  }

  @include media-breakpoint-up(md) {
    left: auto;
    right: 0;
    transform: none;
  }
}