@font-face{
  font-family: 'PhilosopherReg';
  src: url('./../../bundles/fonts/Philosopher/woff/philosopher-regular.woff') format('woff'),
  url('./../../bundles/fonts/Philosopher/ttf/Philosopher-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Philosopher';
  src: url('./../../bundles/fonts/Philosopher/woff/philosopher-bold.woff') format('woff'),
  url('./../../bundles/fonts/Philosopher/ttf/Philosopher-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'Philosopher';
  src: url('./../../bundles/fonts/Philosopher/woff/philosopher-italic.woff') format('woff'),
  url('./../../bundles/fonts/Philosopher/ttf/Philosopher-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face{
  font-family: 'Philosopher';
  src: url('./../../bundles/fonts/Philosopher/woff/philosopher-bolditalic.woff') format('woff'),
  url('./../../bundles/fonts/Philosopher/ttf/Philosopher-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}