.navigation__item{
  padding: 9px 0;
  position: relative;
  text-align: left;

  @include media-breakpoint-up(md){
    padding: 0;
    text-align: center;

    &::before{
      content: '•';
      color: $secondary;
      font-size: 20px;
      left: -9px;
      position: absolute;
      top: -2px;
    }

    &:first-child{

      &::before{
        display: none;
      }
    }
  }

  @include media-breakpoint-only(lg){
    &::before {
      left: -22px;
    }
  }

  @include media-breakpoint-up(xl){

    &::before{
      left: -36px;
      top: auto;
      transform: translateX(-50%);
    }
  }
}