.sub-navigation__link {
  display: inline-block;
  position: relative;

  &::before{
    content: '';
    border: 1px dashed $primary;
    border-radius: 21px;
    bottom: -11px;
    left: -11px;
    position: absolute;
    right: -11px;
    top: -9px;
    visibility: hidden;
    z-index: -10;
  }

  &:hover::before{
    visibility: visible;
  }

  .sub-navigation__item_selected &{
    color: $white;
    cursor: default;

    &::before{
      background-color: $primary;
      border-style: solid;
      left: -12px;
      right: -12px;
      visibility: visible;
    }
  }

  @include media-breakpoint-up(sm) {

    &::before{
      left: -21px;
      right: -22px;
    }

    .sub-navigation__item_selected &::before{
      left: -27px;
      right: -24px;
    }
  }
}