.container {

  .links-replace &{
    top: -200px;
    transition: top .5s ease-out;
  }

  .enrollees &{
    padding-top: 58px;
    padding-bottom: 38px;
  }

  .main &{
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }

  .main_border &{
    border-bottom: 1px dotted $primary;
    margin-bottom: -1px;
  }

  .footer &{
    background-color: $white;
    height: auto;
    padding-bottom: 40px;
    padding-top: 38px;
    position: relative;
    z-index: 10;

    @include media-breakpoint-up(lg) {
      height: 229px;
      padding-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
      background-image: url(../../bundles/images/footer-bg.png);
      background-position: left top;
      background-repeat: no-repeat;
    }
  }

  .modal_media &{
    width: 100%;
  }

  .modal_feedback &{
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(sm){
      width: 520px;
    }

    @include media-breakpoint-up(lg){
      width: 615px;
    }
  }
}