.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include media-breakpoint-only(sm) {
    justify-content: space-between;
  }

  @include media-breakpoint-only(md) {
    justify-content: space-around;
  }

  @include media-breakpoint-up(lg) {
    justify-content: inherit;
  }
}