.img {
  border-radius: 10px;
  display: block;
  margin: 15px auto;
  width: 50%;

  .link-block &{
    margin: 0;
    position: relative;
    width: 100%;
  }

  .card__img &{
    border-radius: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .photogallery__photo &{
    margin: 0;
    width: 100%;
    position: absolute;
    transition: opacity .2s ease-out;
  }

  .photogallery__box_grid &{
    border-radius: 10px;
    border: 0 none;
    height: 165px;
    margin: 0;
    transition: all .2s ease-out;
    width: 165px;

    &:hover {
      box-shadow: 0 0 12px rgba($navigation_bg_content, .75);
    }
  }

  @include media-breakpoint-up(md){
    float: right;
    margin: 15px;
    width: 40%;
  }

  @include media-breakpoint-up(lg){
    width: auto;
  }

  @include media-breakpoint-up(xl){
    margin: 26px 31px 30px 30px;
  }
}