.pagination__item_end {

  &:hover{
    border-color: transparent;
    color: $secondary;
  }

  &:first-child,
  &:nth-child(2):not(:last-child){
    margin-right: $pagination-margin;
  }

  &:last-child,
  &:nth-last-child(2):not(:first-child){
    margin-left: $pagination-margin;
  }

  @include media-breakpoint-only(xs){
    font-size: 24px;
  }
}