.card {
  border: 1px solid $navigation_bg_content;
  border-radius: 10px;
  box-sizing: border-box;
  display: block;
  height: auto;
  margin-bottom: 29px;
  overflow: hidden;
  position: relative;
  transition: all .2s ease-out;
  width: 263px;

  &:hover{
    box-shadow: 0 5px 10px alpha-primary(.2);
  }

  @include media-breakpoint-only(sm){
    display: flex;
    flex-direction: column;
    width: 250px;
  }
}