.header__org-info {
  border: 0 none;
  text-decoration: underline;
  text-decoration-color: alpha-primary(.5);
  font-size: 14px;
  text-align: center;
  white-space: normal;

  &:hover{
    color: $secondary;
  }

  @include media-breakpoint-only(md){
    float: right;
  }

  @include media-breakpoint-up(lg){
    border-bottom: 1px solid alpha-primary(.2);
    text-decoration: none;
    white-space: nowrap;

    &:hover{
      border-bottom-color: $secondary;
    }
  }
}