.navigation__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1em 0 1em 1em;

  .navigation-wrapper_style_content &{
    background-color: $navigation_bg_index;
    border-radius: 4px;
  }

  @include media-breakpoint-up(md){
    display: none;
  }
}