.link-block {
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  color: $white;
  display: block;
  font-family: $font-family-sans-serif;
  font-size: 24px;
  font-weight: bold;
  height: 263px;
  line-height: 1.2;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 263px;

  &::before{
    content: '';
    background-color: $primary;
    bottom: 0;
    left: 0;
    opacity: .4;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .2s ease-out;
    z-index: 20;
  }

  &:hover{
    color: $primary;

    &::before{
      background-color: $secondary;
      opacity: 1;
    }
  }

  .sidebar &{
    margin: 24px auto 0;
  }

  .sidebar & + &{
    margin-top: 23px;
  }

  @include media-breakpoint-down(md){

    .sidebar .sidebar-menu__menu-content &{
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  @include media-breakpoint-only(sm){
    width: 245px;
    height: 245px;

    .sidebar &{
      margin-top: 20px;
    }
  }

  @include media-breakpoint-up(lg){
    margin: 0;
  }
}